.navbarh{
  padding: 20px 45%;
  text-align: center;
  width: 100%;
}
.new-navbrand{
  float: left;
  font-size: 18px;
  line-height: 20px;
  height: 60px;
}
.loadbar{
  text-align: center;
  margin-left: 46%;
  margin-right: 30%;
  width:8%;

}
